**/*.txt
Crawler/RateBeerCrawler/nbproject/private/
Crawler/RateBeerCrawler/target/
Crawler/RateBeerCrawler/DataDump/
Crawler/BeerAdvocateCrawler/target/**
**/.idea/**
Crawler/BeerAdvocateCrawler/.fuse*
CSvToDb/target/
